<% if(locals.message) { %>
<p><%= message %></p>
<% } %>

<form method="POST" action"/registrations">
  <div class="field">
    <label class="title is-3">Username</label>
    <div class="control">
      <input class="input" name="username" type="text" placeholder="Username" requried>
    </div>
  </div>
  <div class="field">
    <label class="title is-3">Email</label>
    <div class="control">
      <input class="input" name="email" type="text" placeholder="Email" requried>
    </div>
  </div>
  <div class="field">
    <label class="title is-3">Password</label>
    <div class="control">
      <input class="input" name="password" type="password" placeholder="Password" requried>
    </div>
  </div>
  <div class="field">
    <label class="title is-3">Confirm Password</label>
    <div class="control">
      <input class="input" name="passwordConfirmation" type="password" placeholder="Confirm Password" requried>
    </div>
  </div>
  <div class="control">
    <button class="button is-primary">Register</button>
  </div>
</form>
