<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="http://thurrock.idea13.org/wp-content/uploads/2016/06/dance.jpg" alt="Dance">
      &nbsp;
      Dance
    </a>
    <div class="navbar-burger" data-target="#mobile-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="mobile-menu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/dances">All Dances</a>
      <a class="navbar-item" href="/dances/new">New Dance</a>
      <% if(!locals.isAuthenticated) { %>
        <a class="navbar-item" href="/register">Register</a>
        <a class="navbar-item" href="/login">login</a>
      <% } else { %>
        <a class="navbar-item" href="/dances/new">New Dance</a>
        <a class="navbar-item" href="/logout">logout</a>
      <% } %>
    </div>
  </div>
</nav>
