<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Dance Move Shake, Mzanzi Style
    </a>
    <div class="navbar-burger" data-target="#mobile-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="mobile-menu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/dances">View moves</a>
      <a class="navbar-item" href="/dances/new">Add moves</a>
      <% if(!locals.isAuthenticated) { %>
        <a class="navbar-item" href="/register">Register</a>
        <a class="navbar-item" href="/login">Login</a>
      <% } else { %>
        <a class="navbar-item" href="/dances/new">Add your own moves</a>
        <a class="navbar-item" href="/logout">Logout</a>
      <% } %>
    </div>
  </div>
</nav>
