<div class="carousel">
  <div class="slide-one">
    <section class="hero is-large homepage">
      <div class="hero-body">
        <div class="container has-text-right">
          <h1 class="title has-text-white">Dance</h1>
          <h2 class="subtitle has-text-white">to the beat, not the lyrics</h2>
        </div>
      </div>
    </section>
  </div>
  <div class="slide-two">
    <section class="hero is-large homepage">
      <div class="hero-body">
        <div class="container has-text-right">
          <h1 class="title has-text-white">Move</h1>
          <h2 class="subtitle has-text-white">Like there is no tomorrow</h2>
        </div>
      </div>
    </section>
  </div>
  <div class="slide-three">
    <section class="hero is-large homepage">
      <div class="hero-body">
        <div class="container has-text-right">
          <h1 class="title has-text-white">Shake</h1>
          <h2 class="subtitle has-text-white">because your body can</h2>
        </div>
      </div>
    </section>
  </div>
</div>
