<section class="hero is-large homepage">
  <div class="hero-body">
    <div class="container has-text-right">
      <h1 class="title has-text-white">Want to dance?...African Style</h1>
      <h2 class="subtitle has-text-white">We have the right moves for you</h2>
    </div>
  </div>
</section>
